<h1>Registrations for <%= link_to @event.name, @event %></h1>

<ul class="registrations">
  <% @registrations.each do |r| %>
    <li><%= r.user.name %> &bull;  <%= r.how_heard.capitalize %></li>
  <% end %>
</ul>